<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Number of <%= title %></h5>
    <p class="card-text"><%= length %></p>
    <a href="products" class="card-link">View product list</a>
  </div>
</div>