<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Number of <%= title %></h5>
    <p class="card-text"><%= length %></p>
    <%= link_to "View all #{title}", [:admin, title]%>
  </div>
</div>